html{
	height: 100%;
}
body{
	height: 95%;
	display:flex;	
	flex-direction:column-reverse;
	color: #fff;
}
main{
	
height: 5%;
}
.chat{
	border-radius: 20px;
	width: 20%;
	height: 45%;
	background: #393939cc;
	display: flex;
	justify-content:center;
	overflow: hidden;
	border: 1px solid #000;
	align-items: center;
}
.chat div{	
	width: 20%;
    height: 100%;
    align-items: center;
    text-align: center;
}
.chat div:nth-last-child{

}
.chat div:hover{
	background: #161616cc;
}
.chat:hover{

}

.hiden{
	display: none;
}
.message-box{
	bottom: 80px;
	border-radius: 5px;
	border: 2px solid #000;
	position: absolute;
	width: 500px;
	height: 500px;
	background: #161616cc;

}
.message-box div{
	height: 90%;
	padding: 15px;
	display: flex;
	flex-direction:column-reverse;
}
.message-box div div{
	flex-direction:column;
}
.message-box div div div{
	background: #353535;
	height: 10%;
	width: 90%;
	margin-bottom: 10px;
}
.message-box div div div:first-child{
	margin-top: auto;
	
}
.button-close{
	position: absolute;
    right: 5px;
    top: 5px;
    background: #41414100;
    color: #fff;
    box-shadow: none;
    border: none;
}
.button-close:hover{
	background: #3b3b3b;
	color: red;
}
.button-close:focus{
	background: #3b3b3b;
	color: red;
	outline:none;
}